<form class="form- center" role="form">
  <h3>The following are the items you have selected:</h3>
  <%= form_for(@item_request) do |f| %>
    <div class="form-group">
      <% @items.each do |item| %>
        <ol><h4><%= item.title %></h4></ol>
        <%= hidden_field_tag("item[]", item.id) %>
      <% end %>
    </div>
    <h3>Please fill this out to submit your email:</h3>
    <div class="form-group">
      <%= f.label :email, class: "col-md-4 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :email, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :message, class: "col-md-4 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :message, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-4">
        <%= f.submit "Send Your Request", class: "btn btn-default btn-primary"%>
      </div>
    </div>
  <% end %>
</form>