<% if flash[:notice] %>
  <div id="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if @items.empty? %>
  <p>There are no items for sale at this time.</p>
<% else %>
  <%= form_for(:item_request, url: new_item_request_path, method: :get, remote: true, html: { class: 'form', id: 'new_item_request' }) do |f| %>
    <% @items.each do |item| %>
      <div class="row">
        <div class= "span8">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="http://placehold.it/260x250" alt="...">
              <div class="caption">
                <h3><%= link_to item.title, item %></h3>
                <h4><%=  number_to_currency(item.price, :unit => "$") %></h4>
                <span class="input-group-addon">
                <%= check_box_tag(:item, item.id, false, {name: "item[]"}) %>
                <%= label_tag(:item, "I'm interested") %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= f.submit "Done" %>
  <% end %>
<% end %>
