<div class="modal fade" id="email_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Send an email!</h2>
      </div>
      <div class="modal-body">
        <%= render partial: '/item_requests/new', modal: true, item_request: @item_request %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<% if flash[:notice] %>
  <div id="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if @items.empty? %>
  <p>There are no items for sale at this time.</p>
<% else %>
  <%= form_tag({controller: "item_requests", action: "new"}, method: "get", class: 'form') do %>

  <% @items.each do |item| %>
    <div class="row">
      <div class= "span8">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/260x250" alt="...">
            <div class="caption">
              <h3><%= link_to item.title, {action: 'show', id: item.id} %></h3>
              <h4><%=  number_to_currency(item.price, :unit => "$") %></h4>
              <span class="input-group-addon">
              <%= check_box_tag(:item, item.id, false, {name: "item[]"}) %>
              <%= label_tag(:item, "I'm interested") %>
            </span>
            </div>
          </div>
      </div>
    </div>
    <% end %>
  <% end %>
<% end %>





